body {
    background-image: url(../images/krystal-ng-PrQqQVPzmlw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poiret One', cursive;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 4em;
}

/* p, h6 {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
} */

p, h6 {
    background-image: radial-gradient(rgba(167, 66, 198, .4), rgba(50, 168, 166, .4), rgba(255, 168, 228, .5), rgba(70, 66, 198, .4), rgba(50, 168, 166, .4));
    /* background-image: radial-gradient(rgba(167, 66, 198, .4), rgba(50, 168, 166, .4)); */
}

#instructions {
    font-size: 1.3em;
}

#score, h6 {
    font-size: 1.7em;
}

img {
    width: 20%;
}

i {      
        background: radial-gradient(#32a8a6 0%,#a742c6 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; 
        -webkit-text-fill-color:transparent;
}