body {
    background-image: url(../images/krystal-ng-PrQqQVPzmlw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poiret One', cursive;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 4em;
}

/* p, h6 {
    background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255, 1));
} */

p, h6 {
    /* hypnotic */
    /* background-image: radial-gradient(rgba(159, 66, 187, 0.3), rgba(50, 168, 166, .3), rgba(255, 168, 228, .3), rgba(70, 66, 198, .3), rgba(50, 168, 166, .3), rgba(167, 66, 198, .3), rgba(50, 168, 166, .3), rgba(255, 168, 228, .3), rgba(70, 66, 198, .3), rgba(50, 168, 166, 0)); */

    /* green-blue */
    /* background-image: radial-gradient(rgba(183,251,215,.5), rgba(161,240,218,.5), rgba(144,231,234,.5), rgba(131,217,242,.5), rgba(133,203,246,.5)); */

    /* meh */
    /* background-image: radial-gradient(rgba(253,183,186,.5), rgba(249,226,217,.5), rgba(177,219,209,.5), rgba(92,179,195,.5), rgba(20,42,90,.5)); */

    /* subtle */
    background-image: radial-gradient(rgba(235,194,217,.5), rgba(217,194,220,.5), rgba(199,194,223,.5), rgba(181,194,226,.5), rgba(163,194,229,.5));

    
}

#instructions {
    font-size: 1.3em;
}

#score, h6 {
    font-size: 1.7em;
}

img {
    width: 20%;
}

i {      
        background: radial-gradient(#32a8a6 0%,#a742c6 100%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text; 
        -webkit-text-fill-color:transparent;
}

@media screen and (max-width: 640px) {
    i {
        font-size: 40px;
    }
}